body.dark {
    background-color: #282c35;
    color: #ffffff;
  }
  
  .dark .save,
  .dark .close,
  .dark .addTaskInput,
  .dark .searchInput,
  .dark .taskItem {
    background-color: #3a3f4b;
    color: #ffffff;
    border-color: #6c757d;
  }
  

  .dark .save,
  .dark .close,
  .dark .addTaskButton,
  .dark .searchButton,
  .dark .taskButton {
    background-color: #5a6268;
    color: #ffffff;
  }
  

  .dark .save,
  .dark .close,
  .dark .addTaskButton:hover,
  .dark .searchButton:hover,
  .dark .taskButton:hover {
    background-color: #4e555b;
  }
  
  .dark .barNav a {
    background-color: #505560;
  }
  
  .dark .barNav a:hover {
    background-color: #6c757d;
    color: white;
  }
  .BasicButton  {
    position: fixed; 
    margin-right: 400px;
    top: 10px;       
    right: 10px;     
    z-index: 1000; 
    
  }